<header class="site-header"> <!-- d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom -->
	<div>
		<a href="{{ site.baseurl }}/" class="header-link"> <!-- d-flex align-items-center text-decoration-none -->
			<span class="site-title">{{ site.title }}</span> <!-- fs-4 fw-bold -->
		</a>
			<span class="site-description">{{ site.description }}</span> <!-- class="site-description" -->
	</div>
	<nav class="site-navigation"> <!-- d-inline-flex mt-2 mt-md-0 ms-md-auto -->
			{% for item in site.data.settings.menu %}
			<a class="menu-item" href="{{ item.url | prepend: site.baseurl }}">{{ item.name }}</a> <!-- me-3 py-2 text-decoration-none -->
			{% endfor %}
	</nav>
</header>
