<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/apple-icon-152x152.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/libs/bootstrap/bootstrap.min.css">
    <script defer src="{{ site.baseurl }}/assets/libs/fontawesome/all.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
</head>
