@use "main-vars" as *;

// ---------- Site Header ----------

@media (min-width: $compress) {
	.site-header {
		flex-direction: row;
	}
	
	.site-navigation {
		margin-top: 0;
		margin-left: auto;
	}

	.site-description {
		justify-content: left;
	}
}